torch==2.9.1
matplotlib
seaborn
scipy
pcap_splitter
scapy
scikit-learn
python-dateutil
transformers==4.57.3
datasets==3.1.0
tqdm
packaging
graphviz
fsspec
pyarrow==22.0.0
accelerate==1.12.0
tensorboard
torchinfo
pytest